body {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background-image: url("fundo1.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
}

h2 {
    color: blue;
}

 .voltar{
    text-align: right;

    }
    .menu{
        background-color: rgb(3, 117, 3);
        list-style: nome;
        text-align: right;
        margin: 0;
    }

    .menu li{
        display: inline-block;

    }
    .menu li a{
        padding: 10px 20px;
        display: inline-block;
        text-decoration: none;
    }
    .menu li a:hover{
    background-color: rgb(41, 8, 161);
    color: blueviolet;
    }
    table{
        width: 60%;
        border: lpx solid rgb(112, 6, 6);
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto; 
    }

 

  